<!---
This template renders the partial html response for the AJAX call storePoiInfo
Author: FABR
-->
{% if pois %}
		<div class="poi">
		{% for poi in pois %}
			<a id="poi{{poi.pk}}" href="/dbdemos/maptiles/{{mapconfig.mapsource}}/{{mapconfig.zoom}}/{{mapconfig.xtile}}/{{mapconfig.ytile}}/{{mapconfig.format}}/getPoiInfo/poi{{poi.pk}}">
				<img border="0" style="position: absolute;
					left: {{poi.x_coord}}px; top: {{poi.y_coord}}px;"
				src="{{ STATIC_URL }}img/kreis.png" alt="{{poi.name}}"
				width="11" height="11"></a>
		{% endfor %}
		</div>
{% endif %}

{% if poiform %}
	<div id="form_section">
		<form id="poi_form" action="/dbdemos/maptiles/{{mapconfig.mapsource}}/{{mapconfig.zoom}}/{{mapconfig.xtile}}/{{mapconfig.ytile}}/{{mapconfig.format}}/storePoiInfo"
		 	method="POST">
	 		{% csrf_token %}
	 		<table>
	 			{{ poiform.as_table }}
	 		</table>
	 		<input type="submit" value="Speichern">
	 	</form>
	 	<p id="form_feedback">
	 		{% if msg %}	 			
	 		Status: {{ msg }}
	 		{% endif %} 
	 	</p>
	</div>
{% endif %}
